<div>

<form action="/add-post" method="POST" class="form" enctype="multipart/form-data">

  <div>
    <label for="title" class="form-label">Judul</label>
    <input
      type="text"
      id="title"
      name="title"
      class="form-control"
      required
    />
  </div>
<div>
  <label for="pengantar">Pengantar</label>
  <textarea
  id="title"
  name="preface"
  class="form-control"
style="width: 100%; height: 200px"
  required
  > </textarea>
</div>
<label for="sistematika">sistematika pembahasan</label>
<div>
  <textarea
  id="sistematika"
  name="structure"
  class="form-control"
 style="width: 100%; height: 200px"
  required
  > </textarea>

</div>
<label for="paragraf1">Paragraf1</label>
<div>
  <input type="text" name="H1Judul" class="form-control" placeholder="Judul" />

  <textarea
    name="body1"
    class="form-control"
    style="width: 100%; height: 200px;"
    required
    placeholder="Tuliskan isi konten di sini..."
  ></textarea>

  <input
    type="file"
    id="bismillah"
    name="BlogImg1"
    class="form-control"
    multiple
    required
  />
</div>
<div>
  <label for="paragraf2">Paragraf2</label>
<textarea name="body2"   class="form-control" id=""  style="width: 100%; height: 200px" required></textarea>

        <input
      type="file"
      id="bismillah"
      name="BlogImg2"
      class="form-control"
      placeholder="tulis body1"
      multiple
      required
    />
</div>
<div>
  <label for="paragraf3" >Paragraf3</label>

  <textarea name="body3"    class="form-control"  id=""  style="width: 100%; height: 200px" required></textarea>

  
      <input
      type="file" 
      id="bismillah"
      name="BlogImg3"
      class="form-control"
       multiple
      required
    />
</div>

<div>
  <label for="paragraf4">Paragraf4</label>
<textarea name="body4"  class="form-control" id=""  style="width: 100%; height: 200px" required></textarea>
        <input
      type="file"
      id="bismillah"
      name="BlogImg4"
      class="form-control"
       multiple
      required
    />
</div>
<div>
  <label for="penutup">Penutup</label>
<textarea name="closing"   class="form-control"id=""  style="width: 100%; height: 200px"; required></textarea>
</div>
  <button type="submit" class="submit-post" >Posting Your Article</button>
</form>
</div>



