<div class="admin-title">
  <h2>LP</h2>
  <a href="/add-post" class="button">Post Blog</a>
</div>
<ul  class="admin-post">
  <li>
    <a href="/display-products" >Ke etalase</a>
  </li>
   <li>
    <a href="/post-display-products">Post Product</a>
  </li>
   <li>
    <a href="/post-mentan">Post ManTan</a>
  </li>
     <li>
    <a href="/post-hidro">Post ManNik</a>
  </li>

<a href="/display-mentan" class="buttonBuatan">Show ManTan</a>
<a href="/display-hidro" class="buttonBuatan">Show Hidroponik</a>
<% data.forEach((item) => { %>
  <% if (item && item._id) { %>
    <ul class="blog-post">
      <% const element = item.element1 || []; %>
      
      <% if (element.length > 0) { %>
        <% const first = element[0]; %>
        <li>
          <a href="/post-article/<%= item._id %>">
            <p><%= first.title %></p>
          </a>
        </li>
      <% } else { %>
        <li>
          <p><em>Artikel belum tersedia</em></p>
        </li>
      <% } %>

      <li>
        <form action="/delete-post/<%= item.customId %>?_method=DELETE" method="POST" onsubmit="return confirm('Yakin hapus blog ini?');">
          <input type="submit" value="Delete Blog" />
        </form>
      </li>
 <li>
        <form action="/edit-post-article/<%= item.customId%>" method="get" onsubmit="return">
          <input type="submit" value="edit blog" />
        </form>
      </li>


    </ul>
  <% } %>
<% }); %>

</ul>
