<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <form action="/post-hidro" method="POST" enctype="multipart/form-data">
      <br />
      <h1>Kebun1</h1>
      <label for="tglSemai">Tgl Semai</label>
      <input type="date" name="DateOfScatter1" />
      <label for="JenisBibit">JenisBenihKebun1</label>
      <input type="Text" name="TypeSeeds1" />
      <label for="Ketersediaan ABmix">Ketersediaan ABmix</label>
      <input type="text" name="ABmixAvailable1" />
      <label for="KetersediaanJaSur">KetersediaanJasur</label>
      <input type="text" name="JasurAvailable1" />
      <label for="KetersediaanArangSekam">KetersediaanArang/Metan</label>
      <input type="text" name="MetanAvailable1" />
      <label for="KutilangOrNot">Kutilang</label>
      <input type="text" name="KutilangOrNot1" />
      <label for="PPM1">PPM1</label>
      <input type="number" name="firstPPM1" />
      <label for="PPM2">PPM2</label>
      <input type="number" name="secondPPM1" />
      <label for="PPM3">PPM3</label>
      <input type="number" name="thirdPPM1" />
      <label for="PPM4">PPM4</label>
      <input type="number" name="fourthPPM1" />
      <label for="SprayJasur1">SprayJadam1</label>
      <input type="Date" name="Jasur1_1" />
      <label for="SprayPesnab1">SprayPesnab1</label>
      <input type="Date" name="Pesnab1_1" />
      <label for="SprayJasur2">SprayJadam1</label>
      <input type="Date" name="Jasur2_1" />
      <label for="SprayPesnab2">SprayPesnab2</label>
      <input type="Date" name="Pesnab2_1" />
      <label for="SprayJasur3">SprayJadam3</label>
      <input type="Date" name="Jasur3_1" />
      <label for="SprayPesnab3">SprayPesnab3</label>
      <input type="Date" name="Pesnab3_1" />
      <label for="SprayJasur4">SprayJadam4</label>
      <input type="Date" name="Jasur4_1" />
      <label for="SprayPesnab4">SprayPesnab4</label>
      <input type="Date" name="Pesnab4_1" />
      <label for="ObatUlat">ObatUlat</label>
      <input type="Text" name="CaterPiler1" />
      <label for="UsiaPanen">UsiaPanendanKendala</label>
      <input type="Text" name="HarvestAge1" />
      <label for="Rata-rata BB1">RerataBB/pohon1</label>
      <input type="Text" name="averageBB1" />
      <label for="PembersihanPipa1">PembersihanPipa1</label>
      <input type="Text" name="CleaningPipe1" />
      <label for="upload">upload</label>
      <input type="file" name="Progress1" multiple />

      <br />
      <h1>Kebun2</h1>
      <label for="tglSemai">Tgl Semai</label>
      <input type="date" name="DateOfScatter2" />
      <label for="JenisBibit">JenisBenihKebun2</label>
      <input type="Text" name="TypeSeeds2" />
      <label for="Ketersediaan ABmix">Ketersediaan ABmix</label>
      <input type="text" name="ABmixAvailable2" />
      <label for="KetersediaanJaSur">KetersediaanJasur</label>
      <input type="text" name="JasurAvailable2" />
      <label for="KetersediaanArangSekam">KetersediaanArang/Metan</label>
      <input type="text" name="MetanAvailable2" />
      <label for="KutilangOrNot">Kutilang</label>
      <input type="text" name="KutilangOrNot2" />
      <label for="PPM1">PPM1</label>
      <input type="number" name="firstPPM2" />
      <label for="PPM2">PPM2</label>
      <input type="number" name="secondPPM2" />
      <label for="PPM3">PPM3</label>
      <input type="number" name="thirdPPM2" />
      <label for="PPM4">PPM4</label>
      <input type="number" name="fourthPPM2" />
      <label for="SprayJasur1">SprayJadam1</label>
      <input type="Date" name="Jasur1_2" />
      <label for="SprayPesnab1">SprayPesnab1</label>
      <input type="Date" name="Pesnab1_2" />
      <label for="SprayJasur2">SprayJadam1</label>
      <input type="Date" name="Jasur2_2" />
      <label for="SprayPesnab2">SprayPesnab2</label>
      <input type="Date" name="Pesnab2_2" />
      <label for="SprayJasur3">SprayJadam3</label>
      <input type="Date" name="Jasur3_2" />
      <label for="SprayPesnab3">SprayPesnab3</label>
      <input type="Date" name="Pesnab3_2" />
      <label for="SprayJasur4">SprayJadam4</label>
      <input type="Date" name="Jasur4_2" />
      <label for="SprayPesnab4">SprayPesnab4</label>
      <input type="Date" name="Pesnab4_2" />
      <label for="ObatUlat">ObatUlat</label>
      <input type="Text" name="CaterPiler2" />
      <label for="UsiaPanen">UsiaPanendanKendala</label>
      <input type="Text" name="HarvestAge2" />
      <label for="Rata-rata BB1">RerataBB/pohon1</label>
      <input type="Text" name="averageBB2" />
      <label for="PembersihanPipa1">PembersihanPipa2</label>
      <input type="Text" name="CleaningPipe2" />
      <label for="upload">upload</label>
      <input type="file" name="Progress2" multiple />
      <br />

      <h1>Kebun3</h1>
      <label for="tglSemai">Tgl Semai</label>
      <input type="date" name="DateOfScatter3" />
      <label for="JenisBibit">JenisBenihKebun1</label>
      <input type="Text" name="TypeSeeds3" />
      <label for="Ketersediaan ABmix">Ketersediaan ABmix</label>
      <input type="text" name="ABmixAvailable3" />
      <label for="KetersediaanJaSur">KetersediaanJasur</label>
      <input type="text" name="JasurAvailable3" />
      <label for="KetersediaanArangSekam">KetersediaanArang/Metan</label>
      <input type="text" name="MetanAvailable3" />
      <label for="KutilangOrNot">Kutilang</label>
      <input type="text" name="KutilangOrNot3" />
      <label for="PPM1">PPM1</label>
      <input type="number" name="firstPPM3" />
      <label for="PPM2">PPM2</label>
      <input type="number" name="secondPPM3" />
      <label for="PPM3">PPM3</label>
      <input type="number" name="thirdPPM3" />
      <label for="PPM4">PPM4</label>
      <input type="number" name="fourthPPM3" />
      <label for="SprayJasur1">SprayJadam1</label>
      <input type="Date" name="Jasur1_3" />
      <label for="SprayPesnab1">SprayPesnab1</label>
      <input type="Date" name="Pesnab1_3" />
      <label for="SprayJasur2">SprayJadam1</label>
      <input type="Date" name="Jasur2_3" />
      <label for="SprayPesnab2">SprayPesnab2</label>
      <input type="Date" name="Pesnab2_3" />
      <label for="SprayJasur3">SprayJadam3</label>
      <input type="Date" name="Jasur3_3" />
      <label for="SprayPesnab3">SprayPesnab3</label>
      <input type="Date" name="Pesnab3_3" />
      <label for="SprayJasur4">SprayJadam4</label>
      <input type="Date" name="Jasur4_3" />
      <label for="SprayPesnab4">SprayPesnab4</label>
      <input type="Date" name="Pesnab4_3" />
      <label for="ObatUlat">ObatUlat</label>
      <input type="Text" name="CaterPiler3" />
      <label for="UsiaPanen">UsiaPanendanKendala</label>
      <input type="Text" name="HarvestAge3" />
      <label for="Rata-rata BB1">RerataBB/pohon1</label>
      <input type="Text" name="averageBB3" />
      <label for="PembersihanPipa1">PembersihanPipa2</label>
      <input type="Text" name="CleaningPipe3" />
      <label for="upload">upload</label>
      <input type="file" name="Progress3" multiple />
      <br />
      <button type="submit" class="submit-post">Post</button>
    </form>
  </body>
</html>
