<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <form action="/post-mentan" method="POST" enctype="multipart/form-data">
      <br />
      <h1>Petak1</h1>
       <label for="OvenMediaTanam1">MediaHigienis</label>
      <input type="text" name="MediaHigienis1" />
      <label for="DolomitPot1">DolomitCabe2</label>
      <input type="text" name="DolomitPot1" />
      <label for="KetersediaanKompostTea">CompostTeaJadamAvailable2</label>
      <input type="text" name="CTAvailable1" />
      <label for="KetersediaanKompostdanBio1">KompostdanBioAvailable2</label>
      <input type="text" name="KompostdanBio1" />
      <label for="JenisBibit">JenisBenihCabe1</label>
      <input type="Text" name="TypeSeeds1" />
      <label for="Fertility1">Fertility Cabe</label>
      <input type="Text" name="Fertility1" />
       <label for="Moisture1">Moisture Cabe</label>
      <input type="Text" name="Moisture1" />
      <label for="PH1">PH Cabe</label>
      <input type="text" name="PH1">
      <label for="Temp1">Temperature Cabe</label>
      <input type="text" name="Temp1">
      <label for="TglTanamPetak1">TanggalTanamPetak1</label>
      <input type="Date" name="DatePlant1" />
      <label for="kocorCT">KocorCTVegetatif</label>
      <input type="number" name="kocorCT1" />
      <label for="Jasur">Jasur2</label>
      <input type="Text" name="Jasur1" />
      <label for="TglPemupukan1">TglPemupukanVeg1</label>
      <input type="date" name="DateFertilizerVeg1" />
      <label for="FerMakro">PupukVegetatifMakro1</label>
      <input type="Text" name="VegMakro1" />
      <label for="TglPemupukangen1">TglPupukGen2</label>
      <input type="date" name="DateFerGen1" />
      <label for="PupukGeneratif">PupukGeneratif2</label>
      <input type="Text" name="GenMakro1" />
      <label for="ObatTrip1">ObatTrip</label>
      <input type="Text" name="ObatTrip1" />
      <label for="RotasiObatTrip1">ObatUlat</label>
      <input type="Text" name="RotasiObatTrip1" />
      <label for="UsiaPanen">UsiaPanendanKendala1</label>
      <input type="Text" name="HarvestAge1" />
      <label for="Rata-rata BB1">RerataBB/pohon2</label>
      <input type="Text" name="averageBB1" />
      <label for="upload">upload</label>
      <input type="file" name="Progress1" multiple />

      <br />
      <h1>Petak Cabe2</h1>
      <label for="OvenMediaTanam2">MediaHigienis</label>
      <input type="text" name="MediaHigienis2" />
      <label for="DolomitPot2">DolomitCabe2</label>
      <input type="text" name="DolomitPot2" />
      <label for="KetersediaanKompostTea">CompostTeaJadamAvailable2</label>
      <input type="text" name="CTAvailable2" />
      <label for="KetersediaanKompostdanBio2">KompostdanBioAvailable2</label>
      <input type="text" name="KompostdanBio2" />
      <label for="JenisBibit">JenisBenihCabe2</label>
      <input type="Text" name="TypeSeeds2" />
      <label for="Fertility2">Fertility Cabe</label>
      <input type="Text" name="Fertility2" />
       <label for="Moisture2">Moisture Cabe</label>
      <input type="Text" name="Moisture2" />
      <label for="PH2">PH Cabe</label>
      <input type="text" name="PH2">
      <label for="Temp2">Temperature Cabe</label>
      <input type="text" name="Temp2">
      <label for="TglTanamPetak2">TanggalTanamPetak2</label>
      <input type="Date" name="DatePlant2" />
      <label for="kocorCT">KocorCTVegetatif</label>
      <input type="number" name="kocorCT2" />
      <label for="Jasur">Jasur2</label>
      <input type="Text" name="Jasur2" />
      <label for="TglPemupukan2">TglPemupukanVeg2</label>
      <input type="date" name="DateFertilizerVeg2" />
      <label for="FerMakro">PupukVegetatifMakro2</label>
      <input type="Text" name="VegMakro2" />
      <label for="TglPemupukangen2">TglPupukGen2</label>
      <input type="date" name="DateFerGen2" />
      <label for="PupukGeneratif">PupukGeneratif2</label>
      <input type="Text" name="GenMakro2" />
      <label for="ObatTrip2">ObatUlat</label>
      <input type="Text" name="ObatTrip2" />
      <label for="RotasiObatTrip2">ObatUlat</label>
      <input type="Text" name="RotasiObatTrip2" />
      <label for="UsiaPanen">UsiaPanendanKendala2</label>
      <input type="Text" name="HarvestAge2" />
      <label for="Rata-rata BB1">RerataBB/pohon2</label>
      <input type="Text" name="averageBB2" />
      <label for="upload">upload</label>
      <input type="file" name="Progress2" multiple />
      <br />

       <h1>Petak Cabe3</h1>
      <label for="OvenMediaTanam3">MediaHigienis</label>
      <input type="text" name="MediaHigienis3" />
      <label for="DolomitPot3">DolomitHonje3</label>
      <input type="text" name="DolomitPot3" />
      <label for="KetersediaanKompostTea">CompostTeaJadamAvailable3</label>
      <input type="text" name="CTAvailable3" />
      <label for="KetersediaanKompostdanBio3">KompostdanBioAvailable3</label>
      <input type="text" name="KompostdanBio3" />
      <label for="JenisBibit">JenisBenihCabe3</label>
      <input type="Text" name="TypeSeeds3" />
      <label for="Fertility3">Fertility Cabe</label>
      <input type="Text" name="Fertility3" />
       <label for="Moisture3">Moisture3 Cabe</label>
      <input type="Text" name="Moisture3" />
      <label for="PH3">PH Cabe</label>
      <input type="text" name="PH3">
      <label for="Temp3">Temperature Cabe</label>
      <input type="text" name="Temp3">
      <label for="TglTanamPetak3">TanggalTanamPetak3</label>
      <input type="Date" name="DatePlant3" />
      <label for="kocorCT">KocorCTVegetatif3</label>
      <input type="number" name="kocorCT3" />
      <label for="Jasur">Jasur3</label>
      <input type="Text" name="Jasur3" />
      <label for="TglPemupukan3">TglPemupukanVeg3</label>
      <input type="date" name="DateFertilizerVeg3" />
      <label for="FerMakro">PupukVegetatifMakro3</label>
      <input type="Text" name="VegMakro3" />
      <label for="TglPemupukangen3">TglPupukGen3</label>
      <input type="date" name="DateFerGen3" />
      <label for="PupukGeneratif">PupukGeneratif3</label>
      <input type="Text" name="GenMakro3" />
      <label for="ObatTrip3">ObatUlat</label>
      <input type="Text" name="ObatTrip3" />
      <label for="RotasiObatTrip3">ObatTrips</label>
      <input type="Text" name="RotasiObatTrip3" />
      <label for="UsiaPanen">UsiaPanendanKendala3</label>
      <input type="Text" name="HarvestAge3" />
      <label for="Rata-rata BB1">RerataBB/pohon3</label>
      <input type="Text" name="averageBB3" />
      <label for="upload">upload</label>
      <input type="file" name="Progress3" multiple />
      <br />

      <button type="submit" class="submit-post">Post</button>
    </form>
  </body>
</html>
