<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <form action="/post-mentan" method="POST" enctype="multipart/form-data">
      <br />
      <h1>Petak1</h1>
      <label for="ObatSuketAwal">ObatSuketAwal</label>
      <input type="text" name="OSukAwal1" />
      <label for="PengolahanLahanPetak1">PengolahanLahanPetak1</label>
      <input type="text" name="PengLaTak1" />
      <label for="DolomitPetak1">DolomitPetak1</label>
      <input type="text" name="DolomitPetak1" />
      <label for="KetersediaanKompostTea1">CompostTeaAvailable</label>
      <input type="text" name="CTAvailable1" />
      <label for="KetersediaanKompostdanBio1">KompostdanBioAvailable1</label>
      <input type="text" name="KompostdanBio1" />
      <label for="JenisBibit">JenisBenihPetak1</label>
      <input type="Text" name="TypeSeeds1" />
      <label for="BioCharMasuk">BioCharMasuk</label>
      <input type="Text" name="EnterBiochar1" />
      <label for="TglTanamPetak1">TanggalTanamPetak1</label>
      <input type="Date" name="DatePlant1" />
      <label for="Osukten">ObatSuketHariKe-10</label>
      <input type="Text" name="Osukten1" />
      <label for="kocorCT">KocorCTVegetatif1</label>
      <input type="number" name="kocorCT1" />
      <label for="Jasur">Jasur1</label>
      <input type="Text" name="Jasur1" />
      <label for="ControlSuket1_1">ControlSuket1</label>
      <input type="Text" name="grass1_1" />
      <label for="Penyiraman1">PenyiramanTahap1</label>
      <input type="date" name="Watering1_1" />
      <label for="TglPemupukan1">TglPemupukanVeg1</label>
      <input type="date" name="DateFertilizerVeg1" />
      <label for="FerMakro">PupukVegetatifMakro1</label>
      <input type="Text" name="VegMakro1" />
      <label for="ControlSuket2_1">ControlSuket2_1</label>
      <input type="Text" name="grass2_1" />
      <label for="Penyiraman2">PenyiramanTahap2</label>
      <input type="date" name="Watering2_1" />
      <label for="TglPemupukangen1">TglPupukGen1</label>
      <input type="date" name="DateFerGen1" />
      <label for="PupukGeneratif">PupukGeneratif</label>
      <input type="Text" name="GenMakro1" />
      <label for="ObatUlat">ObatUlat</label>
      <input type="Text" name="CaterPiler1" />
      <label for="UsiaPanen">UsiaPanendanKendala</label>
      <input type="Text" name="HarvestAge1" />
      <label for="Rata-rata BB1">RerataBB/pohon1</label>
      <input type="Text" name="averageBB1" />
      <label for="upload">upload</label>
      <input type="file" name="Progress1" multiple />

      <br />
      <h1>Petak2</h1>
      <label for="ObatSuketAwal2">ObatSuketAwal</label>
      <input type="text" name="OSukAwal2" />
      <label for="PengolahanLahanPetak2">PengolahanLahanPetak1</label>
      <input type="text" name="PengLaTak2" />
      <label for="DolomitPetak2">DolomitPetak2</label>
      <input type="text" name="DolomitPetak2" />
      <label for="KetersediaanKompostTea">CompostTeaAvailable</label>
      <input type="text" name="CTAvailable2" />
      <label for="KetersediaanKompostdanBio2">KompostdanBioAvailable1</label>
      <input type="text" name="KompostdanBio2" />
      <label for="JenisBibit">JenisBenihPetak2</label>
      <input type="Text" name="TypeSeeds2" />
      <label for="BioCharMasuk">BioCharMasuk2</label>
      <input type="Text" name="EnterBiochar2" />
      <label for="TglTanamPetak2">TanggalTanamPetak2</label>
      <input type="Date" name="DatePlant2" />
      <label for="Osukten">ObatSuketHariKe-10</label>
      <input type="Text" name="Osukten2" />
      <label for="kocorCT">KocorCTVegetatif</label>
      <input type="number" name="kocorCT2" />
      <label for="Jasur">Jasur2</label>
      <input type="Text" name="Jasur2" />
      <label for="ControlSuket1_2">ControlSuket1_2</label>
      <input type="Text" name="grass1_2" />
      <label for="Penyiraman1_2">PenyiramanTahap1</label>
      <input type="date" name="Watering1_2" />
      <label for="TglPemupukan2">TglPemupukanVeg2</label>
      <input type="date" name="DateFertilizerVeg2" />
      <label for="FerMakro">PupukVegetatifMakro2</label>
      <input type="Text" name="VegMakro2" />
      <label for="ControlSuket2_2">ControlSuket2_2</label>
      <input type="Text" name="grass2_2" />
      <label for="Penyiraman2">PenyiramanTahap1</label>
      <input type="Date" name="Watering2_2" />
      <label for="TglPemupukangen2">TglPupukGen2</label>
      <input type="date" name="DateFerGen2" />
      <label for="PupukGeneratif">PupukGeneratif2</label>
      <input type="Text" name="GenMakro2" />
      <label for="ObatUlat">ObatUlat</label>
      <input type="Text" name="CaterPiller2" />
      <label for="UsiaPanen">UsiaPanendanKendala2</label>
      <input type="Text" name="HarvestAge2" />
      <label for="Rata-rata BB1">RerataBB/pohon2</label>
      <input type="Text" name="averageBB2" />
      <label for="upload">upload</label>
      <input type="file" name="Progress2" multiple />
      <br />

      <h1>Petak3</h1>
      <label for="ObatSuketAwal">ObatSuketAwal3</label>
      <input type="text" name="OSukAwal3" />
      <label for="JenisBibit">JenisBenihPetak3</label>
      <input type="Text" name="TypeSeeds3" />
      <label for="TglTanamPetak3">TanggalTanamPetak3</label>
      <input type="Date" name="DatePlant3" />
      <label for="Osukten">ObatSuketHariKe-10</label>
      <input type="Text" name="Osukten3" />
      <label for="Jasur">Jasur3</label>
      <input type="Text" name="Jasur3" />
      <label for="TglPemupukan3">TglPemupukanVeg3</label>
      <input type="date" name="DateFertilizerVeg3" />
      <label for="FerMakro">PupukVegetatifMakro2</label>
      <input type="Text" name="VegMakro3" />
      <label for="TglPemupukangen2">TglPupukGen3</label>
      <input type="date" name="DateFerGen3" />
      <label for="PupukGeneratif">PupukGeneratif3</label>
      <input type="Text" name="GenMakro3" />
      <label for="ObatUlat">ObatUlat</label>
      <input type="Text" name="CaterPiller3" />
      <label for="UsiaPanen">UsiaPanendanKendala3</label>
      <input type="Text" name="HarvestAge3" />
      <label for="Rata-rata BB1">RerataBB/pohon2</label>
      <input type="Text" name="averageBB3" />

      <button type="submit" class="submit-post">Post</button>
    </form>
  </body>
</html>
