
<footer class="footer">
<a href="https://wa.me/6287768370794" target="_blank" class="wa-float">
  <img src="../img/whatsapp.png" alt="WhatsApp"></a>
  <a href="https://www.instagram.com/supelrentaloutdoor_/" target="_blank" class="ig-float">
    <img src="../img/ig.jpg" alt="Ig"></a>

</footer>