<style>
  .footer {
    display: flex;
    align-items: center;
    gap: 10px;
  }
</style>

<footer class="footer">
  <a href="https://wa.me/6287768370794" target="_blank">
    <img
      src="../public/img/whatsapp.png"
      alt="WhatsApp"
      class="rounded-circle"
      height="40px"
      width="40px"
    />
  </a>
  <span>
    &copy; <%= new Date().getFullYear(); %> WalikDamenNesia Toko Tanaman produktif, Sayuran lokal, Umbi-umbian lokal
  </span>
</footer>