
<footer class="footer">
<a href="https://wa.me/6287768370794" target="_blank" class="wa-float">
  <img src="../img/whatsapp.png" alt="WhatsApp">
<!-- </a>
    <img src="/img/whatsapp.png" alt="WhatsApp" height="40" width="40">
</a> -->

<div class="footer">




  <a href="https://www.instagram.com/supelrentaloutdoor_/" target="_blank">
  <svg
    xmlns="http://www.w3.org/2000/svg"
    width="30"
    height="30"
    viewBox="0 0 24 24"
    fill="#E4405F"
    aria-label="Instagram"
    style="vertical-align: middle; cursor: pointer;"
  >
    <path d="M12 2.2c3.2 0 3.6 0 4.9.1 1.2.1 1.9.3 2.3.5.5.2.8.4 1.2.8.4.4.6.7.8 1.2.2.4.4 1.1.5 2.3.1 1.3.1 1.7.1 4.9s0 3.6-.1 4.9c-.1 1.2-.3 1.9-.5 2.3-.2.5-.4.8-.8 1.2-.4.4-.7.6-1.2.8-.4.2-1.1.4-2.3.5-1.3.1-1.7.1-4.9.1s-3.6 0-4.9-.1c-1.2-.1-1.9-.3-2.3-.5a3.42 3.42 0 0 1-1.2-.8 3.42 3.42 0 0 1-.8-1.2c-.2-.4-.4-1.1-.5-2.3C2.2 15.6 2.2 15.2 2.2 12s0-3.6.1-4.9c.1-1.2.3-1.9.5-2.3.2-.5.4-.8.8-1.2.4-.4.7-.6 1.2-.8.4-.2 1.1-.4 2.3-.5C8.4 2.2 8.8 2.2 12 2.2m0-2.2C8.7 0 8.3 0 7 .1 5.7.2 4.6.4 3.8.8 3 .9 2.4 1.3 1.9 1.8 1.3 2.4.9 3 .8 3.8.4 4.6.2 5.7.1 7 0 8.3 0 8.7 0 12s0 3.7.1 5c.1 1.3.3 2.4.7 3.2.2.8.6 1.4 1.1 1.9.5.5 1.1.9 1.9 1.1.8.2 1.9.5 3.2.6 1.3.1 1.7.1 5 .1s3.7 0 5-.1c1.3-.1 2.4-.3 3.2-.6.8-.2 1.4-.6 1.9-1.1.5-.5.9-1.1 1.1-1.9.2-.8.5-1.9.6-3.2.1-1.3.1-1.7.1-5s0-3.7-.1-5c-.1-1.3-.3-2.4-.6-3.2-.2-.8-.6-1.4-1.1-1.9-.5-.5-1.1-.9-1.9-1.1-.8-.2-1.9-.5-3.2-.6C15.7 0 15.3 0 12 0zM12 5.8A6.2 6.2 0 0 0 5.8 12 6.2 6.2 0 0 0 12 18.2 6.2 6.2 0 0 0 18.2 12 6.2 6.2 0 0 0 12 5.8zm0 10.2A4 4 0 0 1 8 12a4 4 0 0 1 4-4 4 4 0 0 1 4 4 4 4 0 0 1-4 4zm6.4-10.9a1.44 1.44 0 1 0 0 2.88 1.44 1.44 0 0 0 0-2.88z"/>
  </svg>
</a>
<!-- <a href="https://www.facebook.com/profile.php?id=61578248043430" target="_blank">
 <svg xmlns="http://www.w3.org/2000/svg" width="32" height="25" viewBox="0 0 24 24" fill="#FFFFFF">
    <path d="M22.675 0h-21.35C.597 0 0 .6 0 1.337v21.326C0 23.4.597 24 1.325 24H12.82V14.706H9.692v-3.62h3.127V8.413c0-3.1 1.894-4.788 4.659-4.788 1.325 0 2.463.1 2.794.144v3.24l-1.918.001c-1.504 0-1.796.715-1.796 1.763v2.312h3.59l-.467 3.62h-3.123V24h6.116C23.403 24 24 23.4 24 22.663V1.337C24 .6 23.403 0 22.675 0z"/>
  </svg>
</a> -->


  <span>
    &copy; <%= new Date().getFullYear(); %> Mr Tom Debugging | Debugging MERN (Javascript mode on) dari Gresik Jawa Timur
  </span>
  </div>
</footer>