

<div class="header">
  <nav class="header__nav" margin-bottom="10">
   
    <a href="https://wa.me/6287768370794" target="_blank">
    <img
      src="../public/img/whatsapp.png"
      alt="WhatsApp"
      class="rounded-circle"
      height="30px"
      width="30px"
    />
  </a>
    <ul>
       
      <li>
        <a href="/">Products</a>
      </li>
      <li>
        <a href="/about">About</a>
      </li>
      <li>
        <a href="/blog">Blog</a>
      </li>
    </ul>
  </nav>
  </div>
</div>
</div>
