

<div class="header">
  <nav class="header__nav" margin-bottom="10">
    <ul>
      <li>
        <a href="/">Profile</a>
      </li>
      <li>
        <a href="/blog">Blog</a>
      </li>
      <li>
        <a href="/dashboard">Pendaftaran</a>
      </li>
      
    </ul>
  </nav>
  </div>
</div>
</div>
