
  <!-- HEADER -->
  <!-- <div class="header"> -->
    <!-- <div class="logo">Perpustakaan Peradaban</div> -->
    <button id="menuToggleVisitor" class="menuToggleVisitor">☰ Menu</button>
<form action="/logout" method="POST">
  <button type="submit">Logout</button>
</form>
  <!-- </div> -->

  <!-- MENU -->
 <nav id="mainMenuBlogVisitor" class="mainMenuBlogVisitor">
    <a href="/display-products">Tom's Store</a>
    <a href="/getPostedProfile">Profil</a>
    <a href="/getToTheJurnal">JurnalMengaji</a>
    <a href="/blog">Blog</a>
  </nav>

    <script>
    // Toggle menu
    $("#menuToggle").on("click", function () {
      $("#mainMenu").toggleClass("open");
    });

    // Delete blog (tetap sama)
    document.querySelectorAll(".delete-btn").forEach(btn => {
      btn.addEventListener("click", async (e) => {
        e.preventDefault();
        const id = btn.dataset.id;
        const ok = confirm("Pastikan GAMBAR sudah dihapus!\nYakin mau hapus blog ini?");
        if (!ok) return;

        const res = await fetch(`/delete-blog/${id}`, { method: "DELETE" });
        const data = await res.json();
        alert(data.message);
        location.reload();
      });
    });
  </script>



