<div class="header">
  <a href="#">Admin_panel</a>
</div>
<div class="header__main">
  <nav class="header__nav">
    <ul>
      <li>
        <a href="/getPostedProfile">Profil</a>
      </li>
      <li>
        <a href="/blog">Blog</a>
      </li>
     
         <li>
        <a href="/login">Dashboard</a>
      </li>
    </ul>
  </nav>
  <div class="header__button">
    <a href="/logout"><button>Logout</button></a>
  </div>
</div>
