 <!-- header.ejs -->
<!-- <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script> -->

  <!-- </div> -->

  <!-- MENU -->
  <!-- <nav id="mainMenuBlogVisitor" class="mainMenuBlogVisitor">
    <a href="/getTomStore">Tom's Store</a>
    <a href="/">Profil</a>
    <a href="/jurnalVisitor">JurnalMengaji</a>
    <a href="/dashboard">Dashboard</a>
    <a href="/blogvisitor">Blog</a>
  </nav> -->

  <div class="header">
    <h1 style="font-size: 12px; font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;"> Hi, it's Tom</h1>
</div>
<div class="header__main">
  <nav class="header__nav">
    <ul>
      <li style="display:inline-block; margin-right: 20px" >
        <a href="/blogVisitor">Blog</a>
      </li>
     <li style="display:inline-block; margin-right: 20px" >
        <a href="/">Profil</a>
      </li>
    <li style="display:inline-block; margin-right: 20px" >
        <a href="/getTomStore">Products</a>
      </li>

    <li style="display:inline-block; margin-right: 20px" >
        <a href="/jurnalVisitor">JurnalMengaji</a>
      </li>
    </ul>
  </nav>

</div>

    <script>

    // Delete blog (tetap sama)
    document.querySelectorAll(".delete-btn").forEach(btn => {
      btn.addEventListener("click", async (e) => {
        e.preventDefault();
        const id = btn.dataset.id;
        const ok = confirm("Pastikan GAMBAR sudah dihapus!\nYakin mau hapus blog ini?");
        if (!ok) return;

        const res = await fetch(`/delete-blog/${id}`, { method: "DELETE" });
        const data = await res.json();
        alert(data.message);
        location.reload();
      });
    });
  </script>



