
<!-- <button class="searchBtn">🔍 Cari</button> -->

<!-- Search bar (included via partial) -->
<!-- <div class="searchBar">
  <div class="container">
    <form action="/search" method="POST">
      <input
        type="search"
        id="searchInput"
        name="searchTerm"
        placeholder="Search for the product..."
        class="searchBarInput"
        required
      />
      <button type="submit">Cari Produk</button>
    </form>
    <div id="searchClose" style="cursor: pointer;">✖ Close</div>
  </div>
</div> -->