<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Lumbung Pangan, Supplier Sayuran Hidroponik Surabaya Sidoarjo</title>
  </head>
  <body>
       <% const imageSemai= "../public/img/Semai.jpg"%>
    <% const imageKebun= "../public/img/Kebun.jpg"%>
     <% const Hidroponik="../public/img/Hidroponik.jpg" %>
    <% const hidroPonikImages=[imageSemai, imageKebun,Hidroponik] %>
    <h1>Tentang Kami</h1>
    <p>
    Lumbung Pangan adalah supplier sayuran hidroponik dan anek bumbu dapur. Kami menjual hasil kebun hidroponik dan non hidroponik untuk resto, hotel, catering dan rumah tangga.Sayuran yang kami panen merupakan sayuran fresh, panen pagi langsung dijual di hari itu juga.
    
      <br>
      <h2>Hasil kebun sayuran hidroponik Lumbung Pangan</h2>
      <p>Salada lettuce</p>
      <p>Salada keriting</p>
      <p>Sawi Pakcoi</p>
      <p>Sawi Samhong</p>
      <p>dan lain lain sesuai yang tertera pada:<a href="/">display products</a> </p> 
    selain itu kami menjual beraneka macam bumbu seperti berikut ini:
    Cabe, Tomat, Merica, Bawang Merah, Bawang Putih dll

    <h2>Mengapa Harus Belanja di Lumbung Pangan, Supplier Sayur Hidroponik Suarabya Sidoarjo?</h2>
    Lumbung Pangan memberikan flat ongkir untuk rute surabaya-sidoarjo Rp. 5.000 saja.
    <br>
    Sayuran Hidroponik kami fresh dari kebun, serta item produk lain yang non hidroponik dengan harga yang kompetitif.
    <br>
    <% hidroPonikImages.forEach(element => { %>
      <img src="<%= element %>" alt="SupplierSayuranHidroponik" width="150" heigth="150">
     
    <% }) %>
    <br>
    <br />
    <img src="<%= Hidroponik %>" alt="SupplierSayuranHidroponik" height="170" width="150">
  
  </body>
</html>
