<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Lumbung Pangan, Jual Umbi Garut, jual tepung garut dan jual tepung umbi garut Gresik Surabaya Sidoarjo</title>
  </head>
  <body>
       <% const imageUmbiGarut= "../public/img/ubigarut.jpg"%>
    <% const imageTepungGarut= "../public/img/tepungUbiGarut.jpg"%>
    
    <% const umbis=[imageUmbiGarut, imageTepungGarut] %>
    <h1>Tentang Kami</h1>
    <p>
    Lumbung Pangan adalah toko umbi, sepesial umbi garut dan tepung garut. Kami menjual hasil kebun petani umbi.
    Umbi adalah kekayaan alam Indonesia sebagai negara tropis. Kelebihan dari umbi adalah gluten free, sedangkan kelebihan umbi garut dibandingkan dengan umbi lainnya adalah selain gluten free, memiliki serat yang mudah larut
    Sehingga khasiat umbi garut bisa membantu penderita maagh atau peradangan usus. Dengan soft/ pati strach yang dimiliki oleh umbi garut menjadikannya ia harus dilestarikan dan diwariskan
    untuk anak-anak Indonesia demi masa depan sistim pencernaan SDM indonesia yang berkualitas.

    
      <br>
      <h2>Produk Lumbung Pangan</h2>
      <h3>Umbi Garut</h3>
      <h3>Tepung Garut</h3>
      <h4>Singkong</h4>
      <h5>Aneka Pisang</h5>
      <p>dan lain lain sesuai yang tertera pada:<a href="/">display products</a> </p> 
  

    <h2>Mengapa Harus Belanja di Lumbung Pangan, Jual Umbi Garut Gresik Surabaya Sidoarjo?</h2>
    Lumbung Pangan memberikan flat ongkir untuk rute gresik-surabaya-sidoarjo (Ongkir terjangkau)
    <br>
   Umbi Garut Kami adalah umbi yang berkualitas dengan  size umbi yang sudah disortir dan tersedia pilihan paket-paket umbi dengan harga yang kompetitif.
    <br>
    <% umbis.forEach(element => { %>
      <img src="<%= element %>" alt="UmbiGarut" width="150" heigth="150">
     
    <% }) %>
    <br>
    <br />
  
  </body>
</html>
