<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Supplier Sayuran Hidroponik Surabaya Sidoarjo</title>
  </head>
  <body>
       <% const imageSemai= "../public/img/Semai.jpg"%>
    <% const imageKebun= "../public/img/Kebun.jpg"%>
     <% const Hidroponik="../public/img/Hidroponik.jpg" %>
    <% const hidroPonikImages=[imageSemai, imageKebun,Hidroponik] %>
    <h1>Tentang Kami</h1>
    <p>
    Supplier Sayuran Hidroponik Surabaya Sidoarjo WalikDamenNesia adalah suplier sayur hidroponik dan perbumbuan duniawi. Kami menjual hasil kebun hidroponik dan perbumbuan duniawi untuk skala rumah tangga dan resto.
      <br>
      <h2>Hasil kebun sayuran hidroponik WalikDameNesia</h2>
      <p>Salada lettuce</p>
      <p>Salada keriting</p>
      <p>Sawi Pockcoy</p>
      <p>Sawi Samhong</p>
      <p>dan lain lain sesuai yang tertera pada:<a href="/">display products</a> </p> 
    selain itu kami menjual perbumbuan duniawi seperti berikut ini:
    Cabe, Tomat, Merica, Bawang Merah, Bawang Putih dll

    <h2>Mengapa Harus Belanja di  Supplier Sayur Hidroponik Suarabya Sidoarjo?</h2>
    WalikDameNesia memberikan flat ongkir untuk rute surabaya-sidoarjo.
    <br>
    Sayuran Hidroponik kami fresh dari kebun 
    <br>
    <% hidroPonikImages.forEach(element => { %>
      <img src="<%= element %>" alt="SupplierSayuranHidroponik" width="150" heigth="150">
     
    <% }) %>
    <br>
    <br />
    <img src="<%= Hidroponik %>" alt="SupplierSayuranHidroponik" height="170" width="150">
  
  </body>
</html>
