<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
       <% const imageAnggur= "../public/img/Anggur Angelica.jpg"%>
    <% const imageHasilBuah= "../public/img/anggur buah angelica.jpg"%>
     <% const imageKelengkeng= "../public/img/kelengkeng.jpg"%>
     <% const Hidroponik="../public/img/Hidroponik.jpg" %>

  

    <% const FruitImages=[imageAnggur, imageKelengkeng,imageHasilBuah] %>

    <h1>Tentang Kami</h1>
    <p>
    Kebun WalikDamenNesia adalah kebun tanaman produktif. Kami menjual tanaman produktif, Sayur Lokal dan Umbi-umbian untuk rumah tangga.
    Seperti tanaman hidup:
    <br>
    -Terung
    <br>
    -Cabe
    <br>
    -Paprika
    <br>
    -dll
    <br>
    Kami Juga menjual produk sayuran lokal yang fresh from graden.
    <h2>Mengapa Harus Memiliki Tanaman di Rumah</h2>
    Ketika pemenuhan kebutuhan sayur mayur dan buah-buahan bisa kita penuhi sendiri dengan tanaman yang terus produktif, dengan cara itu kita bisa menghemat biaya pengeluaran sehari-hari.
    Disamping itu, merawat tanaman adalah pekerjaan yang menyenangkan. Hadirnya tanaman di rumah Mengajarkan bahwa pangan menjadi tanggung jawab seluruh anggota keluarga. bounding dengan anggota keluarga melalui 
    perawatan tanaman, akan menciptakan peran dari masing-masing anggota keluarga untuk menyediakan media tanam, penyiraman, canopy dll.Orang tua bisa mengajarkan sejak dini pada anak bahwa makanan yang kita makan adalah buah dari kerja/proses yang panjang. Ada kesabaran, ada semangat untuk menghasilkan, ada panen. Selain itu masih perlu pengolahan di Dapur.
    Komitment untuk merawat tanaman akan menghasilkan pangan yang mandiri tanpa harus bergantung pada harga pasar dan kondisi yang tidak menentu.
    Di tengah kesibukan Anda, tak perlu anda memulai dari nol, ada tanaman rumahan yang disediakan oleh Kebun WalikDamenNesia.
    <br>
    <% FruitImages.forEach(element => { %>
      <img src="<%= element %>" alt="" width="150" heigth="150">
     
    <% }) %>
    <br>

    <h2>Mengapa Harus Membeli Produk Kami</h2>
    Produk tanaman kami selalu menyertakan riwayat perawatan tanaman yang bebas penyakit dengan track record pencegahan
    menggunakan zat-zat yang dibutuhkan tanaman seperti:
    <br>
    a. Asam Humat
    <br>
    b. Azomite Trace Minerale
    <br>
    c. Unsur Makro dan Mikro yang dibutuhkan tanaman
    <br>
    d. Media tanam yang baik dengan PH dan kelembaban yang terukur
    <br>
    e. Bebas Kutilang, Busuk batang dan atau akar
    <br>
    f. Kebutuhan media tanam yang sesuai dengan tajuk tanaman
    <br>
  
   </p>
   <br>
    <h2>Produk Sayuran Kami</h2>
    Kami juga menyediakan sayuran lokal yang fresh dari kebun setiap hari, meskipun tidak banyak variasinya seperti di pasar
    tapi sayuran yang kami posting di toko kami terjamin fresh. Sayur yang fresh memiliki rasa yang segar, manis dan tekstur yang enak untuk dimakan.
 
    <br />
    <img src="<%= Hidroponik %>" alt="" height="170" width="150">
    <h2>Layanan Kami</h2>
    <ul>
      <li>
       Menjual Tanaman Produktif, Sayuran Hasil Kebun Lokal dan Hidroponik.
      </li>
    </ul>
  </body>
</html>
