<div class="author">
  <h1 class="author__heading">Selamat datang di blog Lumbung Pangan</h1>
  <p class="author__body">Supplier Sayuran Hidroponik Surabaya Sidoarjo</p>
  <img src="/img/Hidroponik.jpg" alt="supplier sayuran hidroponik" width="150px"
  height=200px" />
  <section class="articles">
    <h2 class="articles__heading">Latest Post</h2>

    <% data.forEach((item) => { %> <% if (item) { %>
    <ul>
      <% const element = item.element1||[]; %> <% if
      (element.length > 0) { %> <% const first =element[0]; %>
      <a href="/post/<%= item._id %>">
        <p><%= first.title %></p>
      </a>
      <% } %>
    </ul>

    <% } else { %>
    <p>Data has been deleted</p>
    <% } %> <% }); %> <% if (nextPage !==null) { %>
    <a href="/?page=<%= nextPage %>" class="pagination">&lt view older post</a>

    <% } %>
  </section>
</div>
