<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <title>Add Post</title>

  <!-- Quill styles ini sebnarnya gak butuh, tapi gantinya dari snow -->
  <link href="https://cdn.quilljs.com/1.3.6/quill.snow.css" rel="stylesheet" />
</head>
<body>

<div class="author">
  <h1 class="author__heading">Selamat datang di blog Lumbung Pangan</h1>
  <p class="author__body">Jual Ubi Garut dan Tepung Ubi Garut, tepung pati garut Gresik, Surabaya, Sidoarjo</p>
  <section class="articles">
    <h2 class="articles__heading">Latest Post</h2>

    <% data.forEach((item) => { %> <% if (item) { %>
    <ul>
      <% const element = item.element1||[]; %> <% if
      (element.length > 0) { %> <% const first =element[0]; %>
      <a href="/post/<%= item._id %>">
        <p><%= first.title %></p>
      </a>
      <% } %>
    </ul>

    <% } else { %>
    <p>Data has been deleted</p>
    <% } %> <% }); %> <% if (nextPage !==null) { %>
    <a href="/?page=<%= nextPage %>" class="pagination">&lt view older post</a>

    <% } %>
  </section>
</div>
</body>
</html>
