
<div class="author">
  <h1 class="author__heading">Selamat datang di blog WalikDameNesia</h1>
  <p class="author__body">Supplier Sayuran Hidroponik Surabaya Sidoarjo</p>
  <img src="/img/Hidroponik.jpg" alt="supplier sayuran hidroponik" width="250px" height="300px" />
  <section class="articles">
    <h2 class="articles__heading">Latest Post</h2>

<% data.forEach((item) => { %>
  <% if (item) { %>
  <ul>
    <% const tableOfContent = item.daftarIsi||[]; %>
    <% if (tableOfContent.length > 0) { %>
      <% const first = tableOfContent[0]; %>
      <a href="/post/<%= item._id %>">
        <p><%= first.judul %></p>
      </a>
    <% } %> 

  </ul>
  

  <% } else { %>
    <p>Data has been deleted</p>
  <% } %>
<% }); %>
    
    <% if (nextPage !==null) { %>
    <a href="/?page=<%= nextPage %>" class="pagination"
      >&lt view older post</a
    >

    <% } %>
  </section>



</div>