<!DOCTYPE html>
<html lang="id">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Nostalgia dan Mencerna Warisan Eyang Putri bersama Kirut</title>
    <link rel="stylesheet" href="/css/style.css" />
    <meta property="og:title" content="Nostalgia Bersama Kirut" />
    <meta
      property="og:description"
      content="Mengenang dan mewariskan moment indah bersama eyang putri. Dulu eyang putri menyajikan makanan berkualitas untuk Anda, Kirut. Yap itu adalah warisan makanan khas yang sehat dan penuh cinta"
    />
    <meta
      property="og:image"
      content="https://suppliersayuranhidroponik.my.id/public/img/backgroundubigarut1.png"
    />
    <meta
      property="og:url"
      content="https://suppliersayuranhidroponik.my.id/promo"
    />
  </head>
  <body>
    <section class="hero">
      <h1>Mewariskan Makanan Bergizi dari Eyang Putri kepada cucu eyang</h1>
      <p style="text-align: center; line-height: 1.8em;">
        Kirut memiliki khasiat yang luar biasa, selain gluten free, kirut juga
        memiliki serat larut dan efek prebiotik yang baik untuk pencernaan
      </p>
      <p style="text-align: center">
        Eyang putri menyediakan kirut untuk Anda sebagai bentuk kasih sayang
        yang dalam
      </p>
      <p style="text-align: center">
        Meski Eyang putri tidak mengetahui istilah gizi yang ada pada ubi
        garut, tapi eyang putri sudah Sangat Benar. Memberikan makanan ajaib,
        Kirut/Ubi Garut yang perlu anda sampaikan kandungan nutrisinya kepada
        putra-putri Anda.
      </p>
      <h3>Tunggu Apalagi, berceritalah bersama keluarga tentang warisan ini</h3>
      <iframe
        width="100%"
        height="315"
        src="https://www.youtube.com/embed/ID_VIDEO"
        frameborder="0"
        allow="autoplay; encrypted-media"
        allowfullscreen
      >
      </iframe>
      <a href="https://suppliersayuranhidroponik.my.id/" class="cta-btn">Cek Paket Kirut (Ubi Garut)</a>
    </section>
  </body>
</html>
