<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Lumbung Pangan | Jual Ubi Garut, Tepung Ubi garut, Pati Garut, Gresik, Surabaya, Sidoarjo</title>
  </head>
  <body>
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title><%= title %></title>
  <style>
    body {
      font-family: sans-serif;
      padding: 20px;
      line-height: 1.6;
    }
  </style>
</head>
<body>
  <h1><%= title %></h1>
  <hr>
  <div>
    <%- content %> <!-- IMPORTANT: use <%- %> to render HTML -->
  </div>
</body>
</html>
  </body>
</html>
